/Java/POO/Hospital/nbproject/private/
/Java/POO/Hospital/build/
/Java/POO/Interface/nbproject/private/
/Java/POO/Pagos/nbproject/private/
/Java/POO/ClaseFile/nbproject/private/
/Java/POO/RoblesLuisJavier/nbproject/private/
/Java/POO/RPG/nbproject/private/
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
C\#/app/obj/Debug/net9.0/app.GeneratedMSBuildEditorConfig.editorconfig
C\#/app/obj/Debug/net9.0/app.assets.cache
C\#/app/obj/Debug/net9.0/app.AssemblyInfoInputs.cache
C\#/app/obj/Debug/net9.0/app.AssemblyInfo.cs
C\#/app/obj/Debug/net9.0/app.AssemblyInfoInputs.cache
C\#/app/obj/Debug/net9.0/app.assets.cache
C\#/app/obj/Debug/net9.0/app.GeneratedMSBuildEditorConfig.editorconfig
C\#/app/obj/Debug/net9.0/app.AssemblyInfoInputs.cache
C\#/app/obj/Debug/net9.0/app.assets.cache
C\#/app/obj/Debug/net9.0/app.GeneratedMSBuildEditorConfig.editorconfig
